<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
	<link th:href="@{/css/joinMember.css}" rel="stylesheet">
</head>
<body>
    <div class="signup-container">
        <form th:object="${member}" th:action="@{/member/signup}" method="post" class="signup-form">
            <h2>회원가입</h2>
            <div class="div-labelAndAlert">
				<div class="validation-alert">
		            <label for="memberId">아이디</label>
					<p class="text-danger" th:errors="*{memberId}"></p>	
				</div>
			</div>
			<div class="idBox">
	            <input type="text" id="memberId" name="memberId" class="memberId" placeholder="아이디 입력" th:field="*{memberId}" autofocus required>
				<!--<button class="checkId">중복 체크</button>-->
			</div>
			<div class="id-info">
				<span>회원 ID는 숫자, 영문자를 포함하여 8~16글자 사이로 입력하세요.</span>
			</div>
			<div class="div-labelAndAlert">
				<div class="validation-alert">
	            	<label for="email">이메일</labe>
					<p class="text-danger" th:errors="*{email}"></p>	
				</div>
			</div>
            <input type="email" id="email" name="email" placeholder="이메일 입력" th:field="*{email}" required>
            
			<div class="div-labelAndAlert">
				<div class="validation-alert">
	            	<label for="password">비밀번호</label>
					<p class="text-danger" th:errors="*{password}"></p>	
				</div>
			</div>
            <input type="password" id="password" name="password" placeholder="비밀번호 입력" th:field="*{password}" required>
            
			<div class="div-labelAndAlert">
				<div class="validation-alert">
	            	<label for="password2">비밀번호 확인</label>
					<p class="text-danger" th:errors="*{password2}"></p>	
				</div>
			</div>
            <input type="password" id="password2" name="Password2" placeholder="비밀번호 확인" th:field="*{password2}" required>
            <div class="div-nameAndBirthDay">
				<div>
					<div class="nameArea">
						<label for="name">이름</label>
			            <input type="text" id="name" name="name" placeholder="이름 입력" th:field="*{name}" required>
					</div>
				</div>
				<div>
					<div class="birthDayArea">
						<label for="birthDay" class="label-birthDay">생년월일</label>
			            <input type="date" id="birthDay" name="birthDay" placeholder="생년월일 입력" th:field="*{birthDay}" required>
					</div>
				</div>
			</div>
			
			<div class="div-labelAndAlert">
				<div class="validation-alert">
					<label for="phone">핸드폰</label>
					<p class="text-danger" th:errors="*{phone}"></p>	
				</div>
			</div>
            <input type="text" id="phone" name="phone" placeholder="핸드폰 입력" th:field="*{phone}" required>
						
			<label for="gender">성별</label>
			<div class="col-sm-3">
				<input type="radio" name="gender" id="g1" value="남성" checked> <label for="g1">남성</label>
				<input type="radio" name="gender" id="g2" value="여성" class="ms-3"> <label for="g2">여성</label>
			</div>
			
            <button type="submit">가입하기</button>
        </form>
    </div>
</body>
</html>