<!--aside-->
<aside>
  <div class="container-aside">
    <l class="accordion-menu">

      <!--Q&A-->
      <a th:href="@{/support/qna}">
	      <li class="menu-item">
	        <div class="menu-header">
				<span>Q&A</span>
			  <svg class="arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3">
			    <path d="M15 18l-6-6 6-6"/>
			  </svg>
	        </div>
	      </li>
	  </a>
	  
	  <!--FAQ-->
	  <a th:href="@{/support/faq}">
	      <li class="menu-item">
	        <div class="menu-header">
	          <span>FAQ</span>
			  <svg class="arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3">
	  		    <path d="M15 18l-6-6 6-6"/>
	  		  </svg>
	        </div>
	      </li>
	  </a>

	  <!--FIND-->
	  <a th:href="@{/support/find}">
	      <li class="menu-item">
	        <div class="menu-header">
	          <span>서비스센터 위치찾기(X)</span>
			  <svg class="arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3">
	  		    <path d="M15 18l-6-6 6-6"/>
	  		  </svg>
	        </div>
	      </li>
	  </a>

	  <!--chatbot-->
	  <a th:href="@{/support/chatbot}">
	      <li class="menu-item">
	        <div class="menu-header">
	          <span>챗봇(X)</span>
			  <svg class="arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3">
	  		    <path d="M15 18l-6-6 6-6"/>
	  		  </svg>
	        </div>
	      </li>
	  </a>

    </ul>
  </div>
</aside>