<?xml version="1.0" encoding="UTF-8"?>
<Configurations status="INFO" monitorInterval="30">
	<!-- 날짜와 시간에 대한 출력 포맷 설정 -->
	<!-- 로깅 기록을 로컬 파일로 저장할 위치 설정 -->
	<Properties>
		<Property name="LOG_FORMAT">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Property>
		<Property name="BASE_DIR">C:/log</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_FORMAT}"></PatternLayout>
		</Console>
		<!-- 로컬에 저장할 파일 관련 설정 -->
		<RollingFile name="File-Appender" fileName="${BASE_DIR}/monitor.log" filePattern="${BASE_DIR}/%d{yyyy-MM-dd}.log.zip">
			<PatternLayout pattern="${LOG_FORMAT}"></PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10KB"></SizeBasedTriggeringPolicy>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"></TimeBasedTriggeringPolicy>
			</Policies>
			<DefaultRolloverStrategy>
				<!-- 로그 파일 삭제 조건: 4개를 초과할 때 이전 파일 삭제, log 파일만 삭제, 3일을 초과한 파일만 삭제 -->
				<Delete basePath="${BASE_DIR}">
					<IfAccumulateFileCount exceeds="4"></IfAccumulateFileCount>
					<IfFileName glob="*.log"></IfFileName>
					<IfLastModified age="3d"></IfLastModified>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>
	<!-- 로그 대상을 설정: 콘솔, 파일(인터셉터 클래스의 전체 경로의 정확한 이름) -->
	<Loggers name="com.sbproject">
		<Root level="INFO">
			<AppenderRef ref="Console-Appender"></AppenderRef>
		</Root>
		<Logger name="com.sbproject.mall01.interceptor.MonitoringInterceptor" level="INFO" additivity="true">
			<AppenderRef ref="File-Appender"></AppenderRef>
		</Logger>
	</Loggers>
</Configurations>