/*기본세팅*/
html, body {
    margin: 0;
    padding: 0;
}


.container {
	margin: 0;
	padding: 0;
	margin-left: 250px;
	margin-top: 100px;
	background: url(/CRMSystem/images/maincar.jpg);
	min-height: 89vh;
	background-position: -230px 0px;
}

h1 {
	padding-top: 20px;
	text-align: center;
	color:white;
}

.content {
	display: flex;
	justify-content: center;
	min-width: 80vh;
	color: white;
}


/**/

.titleArea {
	text-align: center;
	margin: 30px 0 30px -33px;
}

#title{
	
	width: 800px;
	height: 30px;
	font-size: 1.1em;
}
.contentArea {
	text-align: center;
}

#content{
	width: 800px;
	height: 500px;
	font-size: 1.1em;
	background-color: #333;
}






