@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Momo+Trust+Display&family=Noto+Sans+KR:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* 하늘색 파랑색 주황색 회색*/

header {
	width: 100%;
	height: 100px;
	position: fixed;       /* 항상 화면 상단에 고정 */
    top: 0;
    left: 0;               /* 왼쪽 끝으로 고정 */
    z-index: 1000;
    background-color: black;
    border-bottom: 1px solid rgba(0,0,0,0.06);
	
	display: flex;           /* 가로 방향 정렬 */
	align-items: center;     /* 수직 가운데 정렬 */
}
a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #ff5500;
}

.menuButton {
	color: white;
}


.title {
	margin-left:4%;
	margin-right:2%;
	font-size: 2em;
	font-family: "Momo Trust Display", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.menu {
	margin:0 3% 0 3%;
	font-weight: bold;
	margin-top: 45px;
	font-size: 1.2em;
	
}

#logo {
	margin-left:2%;
}

#logo-img {
	width: 100px;
	height: 100px;
}


#login {
	/*margin-left: 3%;*/
		
}

.signMenu {
	margin-left: 2%;
	margin-top : 50px;
}

.profile{
	width :35px;
	height: 35px;
	border-radius: 6px;
	background-color: rgb(114, 114, 114);
	
	display: flex;           /* Flexbox 활성화 */
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center;  
	
}

#img-profile {
	width: 25px;
	height: 25px;
	
}


.icon-profile {
	width: 40px;
}


.profileArea {
	text-align: center;
	font-weight: 800;
	margin-top: 20px;
	margin-left: 1%;
}

.userId {
	background-color: black;
}


.icon-logout {
	width: 25px;
}

.logoutArea {
	margin-top: 55px;
	margin-left: 1.5%;
}

.logoutArea:hover a{
	color:rgb(0, 128, 255);
}
