@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Momo+Trust+Display&family=Noto+Sans+KR:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

header {
	width: 100%;
	height: 100px;
	position: fixed;       /* 항상 화면 상단에 고정 */
    top: 0;
    left: 0;               /* 왼쪽 끝으로 고정 */
    z-index: 1000;
    background-color: black;
    border-bottom: 1px solid rgba(0,0,0,0.06);
	
	display: flex;           /* 가로 방향 정렬 */
	align-items: center;     /* 수직 가운데 정렬 */
}
a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #ff5500;
}

.menuButton {
	color: white;
}


.title {
	margin-left: 40px;
	
	font-size: 2em;
	font-family: "Momo Trust Display", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.menu {
	font-weight: bold;
	margin-top: 45px;
	font-size: 1.45em;
	margin-left: 100px;
	
}

#logo {
	margin-left: 30px;
	width: 70px;
	height: 70px;
}


#login {
	margin-left: 180px;
		
}

.signMenu {
	margin-left: 20px;
	margin-top : 50px;
}

.profile{
	width :35px;
	height: 35px;
	border-radius: 6px;
	background-color: rgb(114, 114, 114);
	
	display: flex;           /* Flexbox 활성화 */
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center;  
	
}

#img-profile {
	width: 25px;
	height: 25px;
	
}