/* 전체 배경 */
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #000;  /* 검은 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 폼 컨테이너 */
.signup-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #111;  /* 조금 밝은 검정 */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* 폼 내부 */
.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.idBox {
	display: flex;	
}



.signup-form label {
    color: #ccc;
    margin-bottom: 8px;
    font-size: 14px;
}


#memberId {
	width: 260px;
}


.signup-form input {
	
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
}

.signup-form input::placeholder {
    color: #888;
}

.signup-form button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #ff5500;  /* 강조 색상 */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


.checkId {
	display: flex;
    align-items: center;
    justify-content: center;
	
	margin-left: 10px;
	width: 100px;
	height: 40px;
}

.div-nameAndBirthDay{
	display: flex;
}

#name, #birthDay {
	width:150px;
}

#birthDay, .label-birthDay {
	margin-left: 50px;
}



.signup-form button:hover {
    background-color: #ff7733;
}


.passwordArea {
	/*display: none;*/
}

.passwordArea input {
	width: 375px;
}

.passwordChangeButton {
	width: 150px;
	margin-bottom: 10px;
}



.div-labelAndAlert {
	
}

.validation-alert{
	display: flex;
	align-items: center;
}

.validation-alert p {
	font-size: 0.8em;
	color:rgb(255, 128, 128);
	margin-left: 10px;	
}

.id-info {
	font-size: 0.8em;
		color:cadetblue;
		margin-top: -10px;
		margin-bottom: 20px;
}

.genderAndAge {
	display: flex;
}

#gender, #age {
	width: 150px;
}

.ageArea {
	margin-left: 50px;
}

#memberId, #name, #birthDay, #gender, #age {
	color: rgb(0, 128, 255)
}


.toTheMain{
	margin-top: 10px;
	text-align: center;
}


.toTheMain a {
	text-decoration: none;
	font-weight: 800;
	font-size: 1.05em;
	color:rgb(128, 128, 128);
 }
 
 .toTheMain a:hover {
	color:rgb(192, 192, 192);
}

