<html>
<head>

	
		
</head>
<body>
	<div class="container">
	<h1>carList</h1>
		
	
		
		
		
		
			
		
	</div>
</body><html>
<head>
	<meta charset="utf-8">
	<title>Car Sale</title>
	<!-- css, js, 링크-->
	<th:block th:replace="~{/module/link.html}"></th:block>
	
</head>
<body>
<div class="container">
	<!-- 헤더 -->
	<th:block th:replace="~{/module/top.html}"></th:block>
	
	<!-- 본문 내용 -->
	<div class="row align-items-md-stretch text-center">
		<div class="col-md-12 text-start new_arrival d-flex align-items-center fw-bold fs-3"><!-- d-flex align-items-center 줄에 y축 가운데 정렬-->
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-car-front-fill me-3" viewBox="0 0 16 16">
			  <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
			</svg>
			Best Car
		</div>
		<!-- col-md-12 : 기본 너비 -->
		<div class="border rounded-4 m-2 mb-4 car-div" th:each="car : ${carList}">
			<div class="d-flex flexp-wrap justify-content-center align-items-center">
				<span th:if="${car.company == '현대'}">
					<a th:href="@{|/cars/state?state=company&keyword=${car.company}|}"><img th:src="|/CarSale/icons/hyundai.png|" width="40"></a>
				</span>
				<span th:if="${car.company == '기아'}">
					<a th:href="@{|/cars/state?state=company&keyword=${car.company}|}"><img th:src="|/CarSale/icons/kia.png|" width="40"></a>
				</span>
				<a th:href="@{|/cars/car/${car.carId}|}" class="nav-link one-line"><span th:text="${car.name}" class="fw-bold t-h mt-4 fs-3 ms-3"></span></a>
			</div>
			<div class="div-img">
				<a th:href="@{|/cars/car/${car.carId}|}" class="nav-link"><img th:src="|/CarSale/images/${car.fileName}|" class="mb-2 mt-3 img-1"></a>
			</div>
			<p>
				<b class="s-ca">구분</b>
				<a th:href="@{|/cars/state?state=category&keyword=${car.category}|}" class="nav-link one-line"><span th:text="${car.category}"></span></a>
			</p>
			<p>
				<b class="s-ca2">연료</b>
				<a th:href="@{|/cars/state?state=category&keyword=${car.fuelType}|}" class="nav-link one-line"><span th:text="${car.fuelType}"></span></a>
			</p>
			
			
			<hr>
			
			<p th:text="|${#numbers.formatInteger(car.price, 3, 'COMMA')}원|" class="text-end fw-bold fs-3"></p>
			<p>
				<!-- ★★★★★ -->
				<!-- 1번 : @PathVariable로 전달할 때 -->
				<a th:href="@{|/cars/car/${car.carId}|}" class="btn btn-outline-dark car-btn" role="button">자세히보기 &raquo;</a>
				<a th:href="@{|/cars/car/${car.carId}|}" class="btn btn-dark car-btn" role="button">견적내기 &raquo;</a>
				<!-- 2번 : @RequestParam으로 전달할 때 -->
				<!--<a th:href="@{|/cars/car?carId=${car.carId}|}" class="btn btn-primary" role="button">상세정보 &raquo;</a>-->
			</p>
		</div>
	</div>
	
	<!-- 페이징 정보 -->
	<div class="container d-flex flex-wrap justify-content-center">
		<span class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto align-items-center">[[${totalItems}]] 건</span>
		<span class="align-self-center">[[${pageNum}]]page / [[${totalPages}]] page</span>
	</div>
	
	<!-- paging -->
	<!-- 페이징 처리 -->
	<div th:if="${totalPages > 1}">
		<ul class="pagination justify-content-center">
			<!-- 처음 페이지 -->
			<li th:classappend="${pageNum <= 1} ? 'disabled'" class="page-item">
				<a th:href="@{|/cars/paging?pageNum=1&state=${state}&keyword=${keyword}|}" class="page-link text-dark bg-light" title="처음 페이지로">
					<!-- 화살표 / 원래는 "처음으로" 라는 글자 였음-->
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
						<path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
					</svg>
				</a>
			</li>
			<!-- 이전 페이지 -->
			<li th:classappend="${pageNum <= 1} ? 'disabled'" class="page-item light text-dark">
				<a th:href="@{|/cars/paging?pageNum=${pageNum-1}&state=${state}&keyword=${keyword}|}" class="page-link text-dark bg-light" title="이전">
					<!-- <span> 이전 </span> -->
					<!-- 왼쪽 화살표 / 원래는 바로 윗즐 코드였음-->
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-caret-left light" viewBox="0 0 16 16">
					 	<path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"/>
					</svg>
				</a>
			</li>
			<!-- 페이지 번호 -->
			<li th:each="i : ${#numbers.sequence(startPage, endPage)}" 
			th:if="${i <= totalPages}"
			th:classappend="${i == pageNum} ? 'active'" class="page-item text-dark bg-light">
				<a th:text="${i}" th:if="${i != pageNum}" class="page-link text-dark bg-light" th:href="@{|/cars/paging?pageNum=${i}&state=${state}&keyword=${keyword}|}" th:data-page="${i+1}"></a> <!-- a th:text="${page+1}" 이 부분이 현제 페이지 번호이다 -->
				<span th:text="${i}" th:if="${i == pageNum}" class="page-link text-dark bg-light" th:data-page="${i+1}"></span> <!-- a th:text="${page+1}" 이 부분이 현제 페이지 번호이다 -->
			</li>
			<!-- 다음 페이지 -->
			<li th:classappend="${pageNum >= totalPages} ? 'disabled'" class="page-item text-dark bg-light">
				<a th:href="@{|/cars/paging?pageNum=${pageNum+1}&state=${state}&keyword=${keyword}|}" class="page-link text-dark bg-light" title="다음">
					<!-- 오른쪽 화살표 -->
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
						<path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"/>
					</svg>
				</a>
			</li>
			<!-- 끝 페이지 -->
			<li th:classappend="${pageNum >= totalPages} ? 'disabled'" class="page-item bg-light">
				<a th:href="@{|/cars/paging?pageNum=${totalPages}&state=${state}&keyword=${keyword}|}" class="page-link text-dark bg-light" title="끝 페이지로">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
						<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
					</svg>
				</a>
			</li>
			
		</ul>
	</div>
	

	
	<!-- 푸터 -->
	<!--<th:block th:replace="~{/module/bottom.html}"></th:block>-->
</div>
</body>
</html>
</html>