<link th:href="@{/css/top.css}" rel="stylesheet">
<header>
	<div>
		<img th:src="@{/img/logo.png}" id="logo">
	</div>
	<div class="menuButton title">
		<a th:href="@{/}">StandAlone Cars</a>
	</div>
	<div class="menuButton menu">
		모델
	</div>
	<div class="menuButton menu">
		구매상담
	</div>
	<div class="menuButton menu">
		시승신청
	</div>
	<div class="menuButton menu">
		AI 차량 추천
	</div>
	<div class="menuButton menu">
		프로모션
	</div>
	<div class="menuButton menu">
		고객센터
	</div>
	<div class="menuButton signMenu" id="login">
		<a th:href="@{/login}">로그인</a>
	</div>
	<div class="menuButton signMenu">
		<a th:href="@{/member/join}">회원가입</a>
	</div>
	
</header>


		
				
